<!DOCTYPE html>

<html>

<head>

<title>Register</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<div class="login-card">

<h1>Create Account</h1>

<form action="/register_user" method="POST">

<div class="input-box">

<label>Username</label>

<input
type="text"
name="username"
required>

</div>

<div class="input-box">

<label>Password</label>

<input
type="password"
name="password"
required>

</div>

<button
class="login-btn"
type="submit">

Register

</button>

</form>

<br>

<a href="/">Back to Login</a>

</div>

</div>

</body>

</html>